<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aboutus</title>
    <link rel="stylesheet" href="/css/aboutUs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
   
    <div class="about-smart">
        
        <div class="image">
           <img src="/assets/images/Vector 1.png">
        </div>
        <div class="image-overlay">
        <h1> About SmartQR </h1>
        <a href="">Get
             Started</a>-->
        
    </div>
       
    </div>
    <div class="border">
    <div class="container">
    <div class="grid-box">
        <div class="box-1">
            <img src="/assets/images/Rectangle 5.png">
        </div>
        <div class="box-2">
            <img src="/assets/images/Rectangle 3.png">
        </div>
        <div class="box-3">
            <img src="/assets/images/Rectangle 4.png">
        </div>
        <div class="box-4">
                <h2>Grow your business digitally</h2><br>
                <p>At SmartQR our mission is to create a bridge<br> between business owners and their<br>
                    customers, by helping them create a fruitful and<br> enduring relationship.
                </p><br>
                <p>with our QR code generator, you can create a<br> user-friendly smart qr code,
                    it is beginner<br> friendly and it requires no technical expertise.
                </p>
        </div>
    </div>
    </div>

</div>
    <div class="container-2">
        <h2>Works For Your Various Business<br>Cases</h2>
        <div class="services">
        <div class="Products">
            <img src="/assets/images/image1 (2).png">
            <h3>QR Code for Products</h3>
            <p>Generate QR codes<br>showcase your products<br>for easy advertising.</p>
            <div class="gencode">
            <a href="">Generate Code <i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
        </div>
        <div class="Business-card">
            <img src="/assets/images/image2.png">
            <h3>QR Code for Business Cards</h3>
            <p>All your cards<br>
            information in one scan;<br>
            what else!
        </p>
        <div class="gencode">
            <a href="">Generate Code <i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
        </div>
        <div class="websites">
            <img src="/assets/images/image3.png">
            <h3>QR Codes for Websites</h3>
            <p>Create a unique<br>
                personalized QR code for <br>
                your website.
            </p>
            <div class="gencode">
                <a href="">Generate Code  <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
        </div>
    </div>
</div>
        <div class="generate-code">
            <div class="Qr">
            <h2>
                Experience the magic of QR codes for<br>
                your business. Get started today!
            </h2>
        </div>
        <div class="Code">
            <a href="">Generate Code <i class="fa-solid fa-arrow-right-long"></i></a>
            
        </div>
        </div>
</body>
</html>