<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Business Card</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
            rel="stylesheet">
            <link rel="stylesheet" href="/css/h&f.css" />
    <link rel="stylesheet" href="/css/business.css" />
  </head>
  <body>
    <header>
      <div class="desktop-navigation flex">
        <img src="/assets/images/Logo.png" alt="logo image">
        <img class="hamburger" src="/assets/icons/hamburger.png" alt="menu button">
        <nav class="desktop-nav">
          <ul class="nav-links flex">
            <li class="sign-up nav-link"><a href="/login">Log Out</a></li>
          </ul>
        </nav>

      </div>
      <nav class="mobile-nav">
        <ul class="nav-links flex-col">
          <div class="close flex">
            <img class="close-btn" src="/assets/icons/close.png" alt="close button">
            <p class="mobile-nav__heading">Menu</p>
          </div>
          <li class="">
            <a href="" class="flex">
              <div class="icon-text flex">
                <img src="/assets/icons/account.png" alt="go to account settings">
                <span>My Account</span>
              </div>
              <img src="/assets/icons/right-chevron.png" alt="">
            </a>
          </li>
          <li class="">
            <a href="" class="flex">
              <div class="icon-text flex">
                <img src="/assets/icons/dashboard.png" alt="go to dashboard">
                <span>Dashboard</span>
              </div>
              <img src="/assets/icons/right-chevron.png" alt="">
            </a>
          </li>
          <li class="">
            <a href="" class="flex">
              <div class="icon-text flex">
                <img src="/assets/icons/languages.png" alt="go to languages settings" <span>Languages</span>
              </div>
              <img src="/assets/icons/right-chevron.png" alt="">
            </a>
          </li>
          <li class="">
            <a href="" class="flex">
              <div class="icon-text flex">
                <img src="/assets/icons/contact-us.png" alt="go to contact us page">
                <span>Contact Us</span>
              </div>
              <img src="/assets/icons/right-chevron.png" alt="">
            </a>
          </li>
          <li class="">
            <a href="" class="flex">
              <div class="icon-text flex">
                <img src="/assets/icons/help.png" alt="search for help">
                <span>Help</span>
              </div>
              <img src="/assets/icons/right-chevron.png" alt="">
            </a>
          </li>
          <li class="">
            <a href="" class="flex">
              <div class="icon-text flex">
                <img src="/assets/icons/faq.png" alt="go to FAQs">
                <span>FAQs</span>
              </div>
              <img src="/assets/icons/right-chevron.png" alt="">
            </a>
          </li>
          <li class="">
            <a href="" class="flex">
              <div class="icon-text flex">
                <img src="/assets/icons/faq.png" alt="go to about us page">
                <span>About SmartQR</span>
              </div>
              <img src="/assets/icons/right-chevron.png" alt="">
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="container w-80">
        <div class="header flex-col">
          <h2 class="heading">Business card information</h2>
          <p class="subheading">Complete the form below to generate
            a QR Code for your business card</p>
        </div>
        <form action="" class="flex-col">
          <div class="form-group flex-col flex-col">
            <label for="firstName">First name</label>
            <input type="text" placeholder="Enter first name">
          </div>
          <div class="form-group flex-col">
            <label for="surname">Surname</label>
            <input type="text" placeholder="Enter surname">
          </div>
          <div class="form-group flex-col">
            <label for="phone">Phone number</label>
            <input type="tel" placeholder="Enter mobile number">
          </div>
          <div class="form-group flex-col">
            <label for="email">Email address</label>
            <input type="email" placeholder="Enter your email">
            </div>
          <div class="form-group flex-col">
            <label for="website">Website</label>
            <input type="text" placeholder="Enter website link">
            </div>
          <div class="form-group flex-col">
            <label for="company">Company</label>
            <input type="text" placeholder="Enter company name">
            </div> 

            <div class="form-submit flex-col">
              <a href="" class="save-qr text-center">Save Information</a>
              <a href="" class="generate-qr flex"><span>Generate QR Code</span> <img src="/assets/icons/arrow_right_white.png" alt=""></a>
            </div>
        </form>
      </div>
    </main>
    <footer class="text-center">
      <div class="contact-us__container">
        <div class="dark-bg-mobile"></div>
        <div class="brand-bg"></div>
        <div class="contact-card flex-col">
          <h2>Talk with our customer representative today</h2>
          <a href="" class="">Contact Us</a>
        </div>
      </div>
      <div class="black-bg footer-top__container flex-col">
        <img src="/assets/images/footer-Logo.png" alt="footer-logo" class="">
        <div class="footer-links__container flex-col">
          <div class="footer-links flex-col">
            <h3>Site maps</h3>
            <a href="" class="">Home</a>
            <a href="" class="">Products</a>
            <a href="" class="">Services</a>
          </div>
          <div class="footer-links flex-col">
            <h3 class="">Resources</h3>
            <a href="" class="">Designers</a>
            <a href="" class="">Bloggers</a>
            <a href="" class="">Developers</a>
          </div>
          <div class="footer-links flex-col">
            <h3 class="">Company</h3>
            <a href="" class="">About Us</a>
            <a href="" class="">Careers</a>
            <a href="" class="">FAQs</a>
            <a href="" class="">Teams</a>
            <a href="" class="">Contact Us</a>
          </div>
          <div class="social-links flex-col">
            <h3>Let's do it!</h3>
            <div class="socials flex">
              <img src="/assets/icons/footer-fb.png" alt="facebook icon" class="">
              <img src="/assets/icons/footer-bit.png" alt="bit icon" class="">
              <img src="/assets/icons/footer-github.png" alt="github icon" class="">
              <img src="/assets/icons/footer-message.png" alt="message icon" class="">
              <img src="/assets/icons/footer-instagram.png" alt="instagram icon" class="">
              <img src="/assets/icons/footer-figma.png" alt="figma icon" class="">
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom__wrapper">
        <div class="footer-bottom__container flex-col">
          <div class="footer-bottom__r-side flex">
            <a href="" class="">Privacy Policy</a>
            <a href="" class="">Terms of Use</a>
            <a href="" class="">Sales and Refunds</a>
            <a href="" class="">Legal</a>
            <a href="" class="">Site Map</a>
          </div>
          <div class="footer-bottom__l-side">
            <p>&copy; 2022 All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>