<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/categories.css" />
    <link rel="stylesheet" href="/css/h&f.css" />
    <link rel="stylesheet" href="/css/spinner.css" />
    <title>QR_Gen Categories</title>
  </head>
  <body>
    <div class="loading" id="loading">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
    <section class="uses">
      <div class="uses__container w-80">
        <div class="uses__header text-center">
          <h2>SmartQR Works For Various Business Cases</h2>
        </div>
        <div class="uses__text-content flex-col text-center">
          <div class="uses__card flex-col">
            <img
              src="/assets/images/qr-card.png"
              alt="create qrcode as business card"
            />
            <div class="uses__card-text-content flex-col">
              <h4>QR Code for Business cards</h4>
              <p>All your business cards information in one scan with ease!</p>
              <a class="flex" href="/business-card"
                >Generate code<img
                  src="/assets/icons/arrow_right_white.png"
                  alt=""
              /></a>
            </div>
          </div>
          <div class="uses__card flex-col">
            <img
              src="/assets/images/qr-products.png"
              alt="create qrcode for your products"
            />
            <div class="uses__card-text-content flex-col">
              <h4>QR Code for Products</h4>
              <p>
                Generate QR codes showcase your products for easy advertising.
              </p>
              <a class="flex" href="/catalog"
                >Generate code<img
                  src="/assets/icons/arrow_right_white.png"
                  alt=""
              /></a>
            </div>
          </div>
          <div class="uses__card flex-col">
            <img
              src="/assets/images/qr-website.png"
              alt="create qrcode for your website"
            />
            <div class="uses__card-text-content flex-col">
              <h4>QR Code for Websites</h4>
              <p>Create a unique personalized QR code for your websites</p>
              <a class="flex" href="/webinfo"
                >Generate code<img
                  src="/assets/icons/arrow_right_white.png"
                  alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="text-center">
      <div class="contact-us__container">
        <div class="dark-bg-mobile"></div>
        <div class="brand-bg"></div>
        <div class="contact-card flex-col">
          <h2>Talk with our customer representative today</h2>
          <a href="" class="">Contact Us</a>
        </div>
      </div>
      <div class="black-bg footer-top__container flex-col">
        <img src="/assets/images/footer-Logo.png" alt="footer-logo" class="" />
        <div class="footer-links__container flex-col">
          <div class="footer-links flex-col">
            <h3>Site maps</h3>
            <a href="" class="">Home</a>
            <a href="" class="">Products</a>
            <a href="" class="">Services</a>
          </div>
          <div class="footer-links flex-col">
            <h3 class="">Resources</h3>
            <a href="" class="">Designers</a>
            <a href="" class="">Bloggers</a>
            <a href="" class="">Developers</a>
          </div>
          <div class="footer-links flex-col">
            <h3 class="">Company</h3>
            <a href="" class="">About Us</a>
            <a href="" class="">Careers</a>
            <a href="" class="">FAQs</a>
            <a href="" class="">Teams</a>
            <a href="" class="">Contact Us</a>
          </div>
          <div class="social-links flex-col">
            <h3>Let's do it!</h3>
            <div class="socials flex">
              <img
                src="/assets/icons/footer-fb.png"
                alt="facebook icon"
                class=""
              />
              <img src="/assets/icons/footer-bit.png" alt="bit icon" class="" />
              <img
                src="/assets/icons/footer-github.png"
                alt="github icon"
                class=""
              />
              <img
                src="/assets/icons/footer-message.png"
                alt="message icon"
                class=""
              />
              <img
                src="/assets/icons/footer-instagram.png"
                alt="instagram icon"
                class=""
              />
              <img
                src="/assets/icons/footer-figma.png"
                alt="figma icon"
                class=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom__wrapper">
        <div class="footer-bottom__container flex-col">
          <div class="footer-bottom__r-side flex">
            <a href="" class="">Privacy Policy</a>
            <a href="" class="">Terms of Use</a>
            <a href="" class="">Sales and Refunds</a>
            <a href="" class="">Legal</a>
            <a href="" class="">Site Map</a>
          </div>
          <div class="footer-bottom__l-side">
            <p>&copy; 2022 All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="/scripts/protect.js"></script>
  </body>
</html>
