<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BQR Code</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main>
      <section>
        <div class="qrCodegen">
          <h1>Your QR Code is generated</h1>
        </div>
      </section>

      <div class="wB">
        <button class="saveinfo">Save Information</button>
        <button class="generateQR">Generate QR Code</button>
      </div>
    </main>
  </body>
</html>
