<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/h&f.css" />
    <link rel="stylesheet" href="/css/auth.css" />
    <link rel="stylesheet" href="/css/spinner.css" />
    <title>Sign up</title>
  </head>
  <body>
    <div class="loading" id="loading">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
    <header>
      <div class="desktop-navigation flex">
        <img src="/assets/images/Logo.png" alt="logo image" />
        <img
          class="hamburger"
          src="/assets/icons/hamburger.png"
          alt="menu button"
        />
        <nav class="desktop-nav">
          <ul class="nav-links flex">
            <li class="nav-link"><a href="">English</a></li>
            <li class="nav-link"><a href="">FAQs</a></li>
            <li class="nav-link"><a href="">About us</a></li>
            <li class="sign-up nav-link"><a href="">Sign Up</a></li>
          </ul>
        </nav>
      </div>
      <nav class="mobile-nav">
        <ul class="nav-links flex-col">
          <div class="close flex">
            <img
              class="close-btn"
              src="/assets/icons/close.png"
              alt="close button"
            />
            <p class="mobile-nav__heading">Menu</p>
          </div>
          <li class="">
            <a href="" class="flex">
              <div class="icon-text flex">
                <img
                  src="/assets/icons/account.png"
                  alt="go to account settings"
                />
                <span>My Account</span>
              </div>
              <img src="/assets/icons/right-chevron.png" alt="" />
            </a>
          </li>
          <li class="">
            <a href="" class="flex">
              <div class="icon-text flex">
                <img src="/assets/icons/dashboard.png" alt="go to dashboard" />
                <span>Dashboard</span>
              </div>
              <img src="/assets/icons/right-chevron.png" alt="" />
            </a>
          </li>
          <li class="">
            <a href="" class="flex">
              <div class="icon-text flex">
                <img
                  src="/assets/icons/languages.png"
                  alt="go to languages settings"
                />
                <span>Languages</span>
              </div>
              <img src="/assets/icons/right-chevron.png" alt="" />
            </a>
          </li>
          <li class="">
            <a href="" class="flex">
              <div class="icon-text flex">
                <img
                  src="/assets/icons/contact-us.png"
                  alt="go to contact us page"
                />
                <span>Contact Us</span>
              </div>
              <img src="/assets/icons/right-chevron.png" alt="" />
            </a>
          </li>
          <li class="">
            <a href="" class="flex">
              <div class="icon-text flex">
                <img src="/assets/icons/help.png" alt="search for help" />
                <span>Help</span>
              </div>
              <img src="/assets/icons/right-chevron.png" alt="" />
            </a>
          </li>
          <li class="">
            <a href="" class="flex">
              <div class="icon-text flex">
                <img src="/assets/icons/faq.png" alt="go to FAQs" />
                <span>FAQs</span>
              </div>
              <img src="/assets/icons/right-chevron.png" alt="" />
            </a>
          </li>
          <li class="">
            <a href="" class="flex">
              <div class="icon-text flex">
                <img src="/assets/icons/faq.png" alt="go to about us page" />
                <span>About SmartQR</span>
              </div>
              <img src="/assets/icons/right-chevron.png" alt="" />
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="container w-80 flex">
      <div class="flex-col l-side">
        <div class="l-side__text-content">
          <h1 id="Welcome">Create your account</h1>
          <h3>Enter your information to create your SmartQR account</h3>
        </div>
        <form class="flex-col" onsubmit="handleSubmit(event)">
          <div class="form-group flex-col">
            <label for="">Name</label>
            <input
              class="input-field"
              type="text"
              name="name"
              placeholder="Enter your Name here"
              required
            />
          </div>
          <div class="form-group flex-col">
            <label for="">Email</label>
            <div id="form" class="form-input flex">
              <i class="validation fa fa-envelope icon"></i>
              <input
                class="input-field"
                type="email"
                name="email"
                placeholder="Enter your Email address"
                required
              />
            </div>
            <p id="padd">Please include “@” in the email address</p>
          </div>
          <div class="form-group flex-col">
            <label for="">Enter Password</label>
            <div id="form" class="form-input flex password">
              <i class="fa fa-lock icon"></i>
              <input
                class="input-field"
                name="password"
                type="password"
                placeholder="Password"
                required
              />
              <div id="togglePassword" onclick="myFunction()">
                <i class="fa fa-eye icon" id="togglePassword"></i>
              </div>
            </div>
          </div>
          <div class="form-group flex-col">
            <label for="">Enter Password Again</label>
            <div id="form" class="form-input flex password">
              <i class="fa fa-lock icon"></i>
              <input
                class="input-field"
                name="confirmPassword"
                type="password"
                placeholder="Password"
                required
              />
              <div id="togglePassword" onclick="myFunction()">
                <i class="fa fa-eye icon" id="togglePassword"></i>
              </div>
            </div>
          </div>
          <div class="remember flex">
            <input class="" type="checkbox" /><span>Remember Me</span>
          </div>
          <p id="label">
            By clicking create account, you have agreed to our Terms &
            Condition.
          </p>
          <p id="message" class="message"></p>
          <button type="submit" class="login-btn">Create Account</button>
          <div class="form-redirect flex-col">
            <p id="label">
              Already have an account? <a href="/login">Login</a>
            </p>
          </div>
        </form>
      </div>

      <div class="r-side flex">
        <img src="/images/createaccount.png" id="sed" alt="sedan" />
      </div>
    </div>
    <footer class="text-center">
      <div class="contact-us__container">
        <div class="dark-bg-mobile"></div>
        <div class="brand-bg"></div>
        <div class="contact-card flex-col">
          <h2>Talk with our customer representative today</h2>
          <a href="" class="">Contact Us</a>
        </div>
      </div>
      <div class="black-bg footer-top__container flex-col">
        <img src="/assets/images/footer-Logo.png" alt="footer-logo" class="" />
        <div class="footer-links__container flex-col">
          <div class="footer-links flex-col">
            <h3>Site maps</h3>
            <a href="" class="">Home</a>
            <a href="" class="">Products</a>
            <a href="" class="">Services</a>
          </div>
          <div class="footer-links flex-col">
            <h3 class="">Resources</h3>
            <a href="" class="">Designers</a>
            <a href="" class="">Bloggers</a>
            <a href="" class="">Developers</a>
          </div>
          <div class="footer-links flex-col">
            <h3 class="">Company</h3>
            <a href="" class="">About Us</a>
            <a href="" class="">Careers</a>
            <a href="" class="">FAQs</a>
            <a href="" class="">Teams</a>
            <a href="" class="">Contact Us</a>
          </div>
          <div class="social-links flex-col">
            <h3>Let's do it!</h3>
            <div class="socials flex">
              <img
                src="/assets/icons/footer-fb.png"
                alt="facebook icon"
                class=""
              />
              <img src="/assets/icons/footer-bit.png" alt="bit icon" class="" />
              <img
                src="/assets/icons/footer-github.png"
                alt="github icon"
                class=""
              />
              <img
                src="/assets/icons/footer-message.png"
                alt="message icon"
                class=""
              />
              <img
                src="/assets/icons/footer-instagram.png"
                alt="instagram icon"
                class=""
              />
              <img
                src="/assets/icons/footer-figma.png"
                alt="figma icon"
                class=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom__wrapper">
        <div class="footer-bottom__container flex-col">
          <div class="footer-bottom__r-side flex">
            <a href="" class="">Privacy Policy</a>
            <a href="" class="">Terms of Use</a>
            <a href="" class="">Sales and Refunds</a>
            <a href="" class="">Legal</a>
            <a href="" class="">Site Map</a>
          </div>
          <div class="footer-bottom__l-side">
            <p>&copy; 2022 All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="/scripts/register.js"></script>
  </body>
</html>
