<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/h&f.css">
    <link rel="stylesheet" href="/css/webinfo.css" />
    <title>SmartQR</title>
</head>
<body>
    <header>
                <div class="desktop-navigation flex">
                    <img src="/assets/images/Logo.png" alt="logo image">
                    <img class="hamburger" src="/assets/icons/hamburger.png" alt="menu button">
                    <nav class="desktop-nav">
                        <ul class="nav-links flex">
                            <li class="sign-up nav-link"><a href="">Log Out</a></li>
                        </ul>
                    </nav>
                    
                </div>
                <nav class="mobile-nav">
                    <ul class="nav-links flex-col">
                        <div class="close flex">
                            <img class="close-btn" src="../public/assets/icons/close.png" alt="close button">
                            <p class="mobile-nav__heading">Menu</p>
                        </div>
                        <li class="">
                            <a href="" class="flex">
                                <div class="icon-text flex">
                                    <img src="../public/assets/icons/account.png" alt="go to account settings">
                                    <span>My Account</span>
                                </div>
                                <img src="../public/assets/icons/right-chevron.png" alt="">
                            </a>
                        </li>
                        <li class="">
                            <a href="" class="flex">
                                <div class="icon-text flex">
                                    <img src="../public/assets/icons/dashboard.png" alt="go to dashboard">
                                    <span>Dashboard</span>
                                </div>
                                <img src="../public/assets/icons/right-chevron.png" alt="">
                            </a>
                        </li>
                        <li class="">
                            <a href="" class="flex">
                                <div class="icon-text flex">
                                    <img src="../public/assets/icons/languages.png" alt="go to languages settings"
                                    <span>Languages</span>
                            </div>
                            <img src="../public/assets/icons/right-chevron.png" alt="">
                        </a>
                    </li>
                    <li class="">
                        <a href="" class="flex">
                            <div class="icon-text flex">
                                <img src="../public/assets/icons/contact-us.png" alt="go to contact us page">
                                <span>Contact Us</span>
                            </div>
                            <img src="../public/assets/icons/right-chevron.png" alt="">
                        </a>
                    </li>
                    <li class="">
                        <a href="" class="flex">
                            <div class="icon-text flex">
                                <img src="../public/assets/icons/help.png" alt="search for help">
                                <span>Help</span>
                            </div>
                            <img src="../public/assets/icons/right-chevron.png" alt="">
                        </a>
                    </li>
                    <li class="">
                        <a href="" class="flex">
                            <div class="icon-text flex">
                                <img src="../public/assets/icons/faq.png" alt="go to FAQs">
                                <span>FAQs</span>
                            </div>
                            <img src="../public/assets/icons/right-chevron.png" alt="">
                        </a>
                    </li>
                    <li class="">
                        <a href="" class="flex">
                            <div class="icon-text flex">
                                <img src="../public/assets/icons/faq.png" alt="go to about us page">
                                <span>About SmartQR</span>
                            </div>
                            <img src="../public/assets/icons/right-chevron.png" alt="">
                        </a>
                    </li>
                </ul>
            </nav>
    </header>
    <!-- Header ends here -->
<!-- Input form starts here -->



<div class="container">
    <div class="headings">
        <h2 class="webinfo">Website Information</h3> <br>
    <p>Complete the form below to generate a QR Code for your website</p>
    </div>
    <div>
        <form action="submit">
            <div class="input-field">
                <label for="">Business name</label> <br>
                <input type="text" placeholder="Enter your business name">
            </div>
            <div class="input-field">
                <label for="">Website URL</label> <br>
                <input type="text" placeholder="Enter your website url">
            </div>
            <div class="input-field">
                <label for="">Social Media</label> <br>
                <input type="text" placeholder="Enter your social media">
            </div>
            
            <div class="buttons">
                <button class="save">Save Information</button>
                <button class="generate">Generate QR Code  <span><img class="arrow-right-alt-24px-icon1" alt="" src="/public/assets/icons/arrow_right_white.png" /></span>
            </button>
            </div>
            
        </form>
    </div>
    
</div>
    <!-- Our input form ends here -->

    <!-- Footer stats here -->
    <footer class="text-center">
                    <div class="contact-us__container">
                        <div class="dark-bg-mobile"></div>
                        <div class="brand-bg"></div>
                        <div class="contact-card flex-col">
                            <h2>Talk with our customer representative today</h2>
                            <a href="" class="">Contact Us</a>
                        </div>
                    </div>
                    <div class="black-bg footer-top__container flex-col">
                        <img src="/assets/images/footer-Logo.png" alt="footer-logo" class="">
                        <div class="footer-links__container flex-col">
                            <div class="footer-links flex-col">
                                <h3>Site maps</h3>
                                <a href="" class="">Home</a>
                                <a href="" class="">Products</a>
                                <a href="" class="">Services</a>
                            </div>
                            <div class="footer-links flex-col">
                                <h3 class="">Resources</h3>
                                <a href="" class="">Designers</a>
                                <a href="" class="">Bloggers</a>
                                <a href="" class="">Developers</a>
                            </div>
                            <div class="footer-links flex-col">
                                <h3 class="">Company</h3>
                                <a href="" class="">About Us</a>
                                <a href="" class="">Careers</a>
                                <a href="" class="">FAQs</a>
                                <a href="" class="">Teams</a>
                                <a href="" class="">Contact Us</a>
                            </div>
                            <div class="social-links flex-col">
                                <h3>Let's do it!</h3>
                                <div class="socials flex">
                                    <img src="/assets/icons/footer-fb.png" alt="facebook icon" class="">
                                    <img src="/assets/icons/footer-bit.png" alt="bit icon" class="">
                                    <img src="/assets/icons/footer-github.png" alt="github icon" class="">
                                    <img src="/assets/icons/footer-message.png" alt="message icon" class="">
                                    <img src="/assets/icons/footer-instagram.png" alt="instagram icon"
                                        class="">
                                    <img src="/assets/icons/footer-figma.png" alt="figma icon" class="">
                                </div>
                            </div>
                        </div>
                    </div><div class="footer-bottom__wrapper">
                        <div class="footer-bottom__container flex-col">
                            <div class="footer-bottom__r-side flex">
                                <a href="" class="">Privacy Policy</a>
                                <a href="" class="">Terms of Use</a>
                                <a href="" class="">Sales and Refunds</a>
                                <a href="" class="">Legal</a>
                                <a href="" class="">Site Map</a>
                            </div>
                            <div class="footer-bottom__l-side">
                                <p>&copy; 2022 All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
    </footer>
</body>
</html>